html {
  height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font: inherit;
  color: black;
  outline: none;
}

#root {
  height: 100%;
}
